<section id="modal">
    <div id="card">
      <div id="head">
        <h2>Confirmar</h2> 
        <a id="close" href="/">x</a>

      </div>
      <hr>
      <p>Deleta essa bagaça: <%= taskDelete.task %>?</p>
      <div id="btns">             
         <a id="btnNot" href="/">Não</a>
         <a id="btnYes" href="/deleteOne/<%= task._id%>">Sim</a>
      </div>

    </div>
  </section>